@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
  font-family: sans-serif;
  margin: 20px;
}

.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.sub-title {
text-align: center;
margin-top: 30px;
}

div {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.identification-input {
display: flex;
flex-direction: column;
}

.customer-registration {
display: flex;
flex-direction: column;
}

.container {
display: flex;
flex-direction: column;
width: 250px;
margin: 0 auto;
border: 1px solid #ddd;
padding: 20px;
border-radius: 8px;
gap: 10px;
align-items: stretch;
}



.control-panel-section {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 61vmax;
margin: 0 auto;
padding: 20px;

}

.control-panel2 {
display: flex;
flex-direction: column;
}

.control {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 8px;
  border: 1px solid #ddd;
  gap: 10px;
}

section {
display: flex;
flex-direction: row;
}

select {
text-rendering: auto;
color: fieldtext;
letter-spacing: normal;
word-spacing: normal;
line-height: normal;
text-transform: none;
text-indent: 0px;
text-shadow: 0 0 black;
display: inline-block;
text-align: start;
appearance: auto;
box-sizing: border-box;
align-items: center;
-webkit-rtl-ordering: logical;
background-color: field;
cursor: default;
width: -webkit-fill-available;
white-space: pre;
border-width: 1px;
border-style: solid;
border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
border-image: initial;
padding: 5px;
border: 1px solid #ccc;
border-radius: 8px;
}


label {
  margin-bottom: 5px;
}

input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input[type="text" i] {
  writing-mode: horizontal-tb !important;
  padding-block: 1px;
  padding-inline: 2px;
  padding: 5px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

footer {
  text-align: center;
  font-size: 12px;
  color: #999;
}